html,
body {
    min-width: 290px;
    color: black;
    background-color: #fcfdff;
    font-family: Lato, sans-serif;
    line-height: 1.8;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    box-shadow: 2px 2px 6px rgb(0 0 0 / 90%);
}

header {
    font-family: 'Linux Libertine', 'Georgia', 'Times', serif;;
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 21px;
    font-weight: bold;
}

#main-doc header {
    text-align: left;
}

section article {
    color: black;
    margin: 15px;
    font-size: 20px;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

#navbar ul {
    list-style-type: none;
    width: 15%;
    height: 84%;
    padding: 0;
    background-color: #e0dee4;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li a {
    display: block;
    color: #383e5f;
    padding: 8px 16px;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    box-shadow: 1px 1px 2px #777;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: #4d4e53;
    text-decoration: none;
    cursor: pointer;
}

li a.active {
    background-color: darkgray;
    color: white;
}

li a:hover:not(.active) {
    background-color: darkgray;
    color: white;
}

#main-section {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

